:root {
  --white: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: var(--white);
  position: relative;
  border-top: 3px solid #111116;
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  align-items: center;
  font-family: 'Anonymous Pro', monospace;
}

.logo-container {
  width: 272px;
  border-right: 1px solid #ebebeb;
  margin: 0 32px 0 0;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
.footer {
  padding: 12px 16px;
  background-color: var(--white);
}

.credits:before {
  content: '';
  display: block;
  position: absolute;
  height: 55%;
  /* width: 15px;
  height: 30px; */
  transform: rotate(15deg);
  border-right: 2px solid #ccc;
  /* background: url(./images/slash.png) no-repeat; */
  margin: -3px 0 0 -20px;
}